# EC2 #1
NODE_ID=1
KAFKA_DOMAIN=kafka1.patapon.com

# EC2 #2
NODE_ID=2
KAFKA_DOMAIN=kafka2.patapon.com


STORE_PASS=patapon
KEY_PASS=patapon
TRUST_PASS=patapon
CA_PASS=patapon
SANS="DNS:kafka1.patapon.com,DNS:kafka2.patapon.com,DNS:localhost,IP:127.0.0.1"

SSL_KEY_PASSWORD=patapon
KAFKA_DOMAIN=kafka.xxx.com
LOCAL_HOST=elastic ip